*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;

}

.box{
    height: 10rem;
    flex-basis:  10rem;
}

.box1{
    background-color: yellow;
    flex-grow: 1;
}
.box2{
    background-color: goldenrod;
    flex-grow: 1;
    
}
.box3{
    background-color: red;
}
.box4{
    background-color: rebeccapurple;
}
.box5{
    background-color: brown;
}
.box6{
    background-color: grey;
}